<header class="global" style="height: 1275px;">
  <div class="logo">
    <a href="/">
      <img
        width="158"
        src="/assets/LogoGobiertoPresupuestos-b6db45b8a302271bc0c2b546a9adac1d20c0e198b224ca74304234dc6f1e5290.png"
        alt="Logogobiertopresupuestos">
      </a>
  </div>
  <div class="resp ham">
    <a href=""><i class="fa fa-bars"></i></a>
  </div>
  <div class="desktop">
    <input
      type="text"
      class="places_search search_auto"
      value=""
      placeholder="Busca municipio..."
      autocomplete="off">
    <menu>
      <ul>
        <li><a class="" href="/">Municipios</a></li>
        <li><a class="" href="/compare">Compara</a></li>
        <li><a class="" href="/ranking">Rankings</a></li>
        <li><a class="" href="/about#municipalities">Servicios</a></li>
      </ul>
    </menu>
    <div class="links_list">
      <h3>Municipios recientes</h3>
      <ul id="history"><li><a href="/places/zaragoza/2015">Zaragoza (2015)</a></li></ul>
    </div>

    <div class="links_list">
      <h3>Comparaciones recientes</h3>
      <ul id="comparisons-history"></ul>
    </div>
  </div>
</header>
