<div class="share_links">
  <a
    class="small_button popup"
    data-rel="Twitter"
    href="https://twitter.com/home?status=En%20%40gobierto%3A%20Presupuestos%20municipales%20de%20Zaragoza%20del%202015%20https%3A%2F%2Fpresupuestos.gobierto.es%2Fplaces%2Fzaragoza%2F2015"
  >
      <i class="fa fa-twitter"></i>
  </a>
  <a
    class="small_button popup"
    data-rel="Facebook"
    href="http://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpresupuestos.gobierto.es%2Fplaces%2Fzaragoza%2F2015"
  >
    <i class="fa fa-facebook"></i>
  </a>
</div>
