<div class="col-lg-3 col-md-3 col-xs-3">
  <div class="l1">
    <img src="/assets/img/one.jpg" />
  </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-3">
  <div class="l1">
    <img src="/assets/img/two.jpg" />
  </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-3">
  <div class="l1">
    <img src="/assets/img/three.jpg" />
  </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-3">
  <div class="l1">
    <img src="/assets/img/four.jpg" />
  </div>
</div>
