<div class="metric_graphs clearfix">
  <div class="widget_graph show clearfix">
    <div class="col-1-2" id="lines_chart">
      {{high-charts content=chartData chartOptions=chartOptions}}
    </div>
    <div class="col-2-2">
      <div id="lines_tooltip">
        <table>
          <thead>
            <tr>
              <th title="color"></th>
              <th title="name"></th>
              <th title="value" class="right year_header" style="font-size: 14px;">2015</th>
              <th title="dif" class="right per_change">Cambio año anterior</th>
            </tr>
          </thead>
          <tbody>
            <tr class="zaragoza">
              <td class="zaragoza">
                <i class="le le-place" style="background: rgb(42, 137, 152);"></i>
              </td>
              <td class="zaragoza">Zaragoza</td>
              <td class="value right zaragoza">1.027,37 €</td>
              <td class="dif right zaragoza">+2.56%</td>
            </tr>
            <tr class="mean_national">
              <td class="mean_national">
                <i class="le le-country" style="background: rgb(218, 152, 10);"></i>
              </td>
              <td class="mean_national">Media Nacional</td>
              <td class="value right mean_national">957,71 €</td>
              <td class="dif right mean_national">-7.02%</td>
            </tr>
            <tr class="mean_autonomy">
              <td class="mean_autonomy">
                <i class="le le-com" style="background: rgb(248, 180, 25);"></i>
              </td>
              <td class="mean_autonomy">Media Autonómica</td>
              <td class="value right mean_autonomy">1.300,35 €</td>
              <td class="dif right mean_autonomy">-14.23%</td>
            </tr>
            <tr class="mean_province">
              <td class="mean_province">
                <i class="le le-province" style="background: rgb(244, 208, 111);"></i>
              </td>
              <td class="mean_province">Media Provincial</td>
              <td class="value right mean_province">1.389,84 €</td>
              <td class="dif right mean_province">-14.16%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="help">
        <a
          class="tipsit"
          href="/faq#no_data"
          original-title="La base de datos que utilizamos no incluye datos para el 100% de los municipios, por lo que las medias están calculadas solo con los datos que existen (que son la gran mayoría). Más información en nuestras preguntas frecuentes"
        >
          Nota sobre los datos
        </a>
      </div>
    </div>
  </div>
</div>
