<div
  class="metric"
  data-widget-template="#widget-template"
  data-widget-type="per_person"
  data-line-widget-series="means"
  data-line-widget-url="/api/data/lines/50297/2015/per_person.json"
  data-line-widget-type="per_person"
  data-widget-data-url="/api/data/widget/total_budget_per_inhabitant/50297/2015.json"
>
  <div class="label">Gasto por habitante</div>
  <div class="main sign-up">1.027 €</div>
  <div class="secondary">
    <div class="percentage_change up sign-up">2,56%</div>
    <div class="ranking">
      <a href="/ranking/2015/G/economic/amount_per_inhabitant?ine_code=50297&amp;page=113" class="ranking_link">
        <strong>#2804</strong>/8119
      </a>
    </div>
  </div>
</div>
