<div class="main_metrics clearfix">

  <div
    class="metric selected"
    data-widget-template="#widget-template"
    data-widget-type="per_person"
    data-line-widget-series="means"
    data-line-widget-url="/api/data/lines/50297/2015/per_person.json"
    data-line-widget-type="per_person"
    data-widget-data-url="/api/data/widget/total_budget_per_inhabitant/50297/2015.json"
  >
    <div class="label">Gasto por habitante</div>
    <div class="main sign-up">1.027 €</div>
    <div class="secondary">
      <div class="percentage_change up sign-up">2,56%</div>
      <div class="ranking">
        <a href="/ranking/2015/G/economic/amount_per_inhabitant?ine_code=50297&amp;page=113" class="ranking_link">
          <strong>#2804</strong>/8119
        </a>
      </div>
    </div>
  </div>

  <div
    class="metric"
    data-widget-template="#widget-template"
    data-widget-type="total_budget"
    data-line-widget-series="means"
    data-line-widget-url="/api/data/lines/50297/2015/total_budget.json"
    data-line-widget-type="total_budget"
    data-widget-data-url="/api/data/widget/total_budget/50297/2015.json"
  >
    <div class="label">Gasto total</div>
    <div class="main sign-up">683 M€</div>
    <div class="secondary">
      <div class="percentage_change up sign-up">2,39%</div>
      <div class="ranking">
        <a href="/ranking/2015/G/economic/amount?ine_code=50297&amp;page=1" class="ranking_link">
          <strong>#5</strong>/8119
        </a>
      </div>
    </div>
  </div>

  <div
    class="metric"
    data-widget-template="#widget-template"
    data-widget-type="population"
    data-widget-data-url="/api/data/widget/population/50297/2015.json"
  >
    <div class="label">Habitantes</div>
    <div class="main sign-down">664.953</div>
    <div class="secondary">
      <div class="percentage_change up sign-down">-0,17%</div>
      <div class="ranking"><a href="/ranking/2015/population?ine_code=50297&amp;page=1" class="ranking_link"><strong>#5</strong>/8119</a></div>
    </div>
  </div>

  <div
    class="metric"
    data-widget-template="#widget-template-execution"
    data-widget-type="total_budget_execution"
    data-widget-data-url="/api/data/widget/total_widget_execution/50297/2015.json"
  >
    <div class="label">Ejecución vs Presupuestado</div>
    <div class="main sign-up">9,56 % (65 M€)</div>
  </div>

  <div
    class="metric"
    data-widget-template="#widget-template-debt"
    data-widget-type="debt"
    data-widget-data-url="/api/data/widget/debt/50297/2015.json"
  >
    <div class="label">Deuda viva</div>
    <div class="main ">1.069.679.000 €</div>
    <div class="secondary">
      <div class="percentage_change up ">-23,58%</div>
    </div>
  </div>
</div>
