<h2 class="text-center margin-top-30">Criterio: Censo de datos abiertos</h2>

{{#light-table table
  tableClassNames='table table-condensed'
  classNames='margin-top-30'
  as |t|
}}
  {{t.head
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    sortOnClick=true
    onColumnClick=(action 'onColumnClick')
  }}
  {{t.body
    canSelect=false
  }}
{{/light-table}}

