<style>
  /* TODO: Ver si podemos adaptar a viewport */
  .leaflet-container {
    /*width: 1140px;*/
    height: 600px;
  }

  .strong {
    font-weight: bold;
  }

  .ember-power-select-trigger {
    width: 100%;
  }

  img.disabled {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }

  @media (min-width: 768px) {
    .ember-power-select-trigger {
      width: 51%;
    }
  }
</style>

<div class="topbar">
  <h3>Proyectos de inversión pública</h3>
</div>

<div class="col-lg-4 col-md-4 col-xs-4 left">
  <label class="hidden-xs" style="font-weight: normal; margin-right: 10px;">Departamento</label>

  {{#power-select
    selected=currentDepartamento
    options=departamentosDisponibles
    onchange=(action 'selectDepartamento')
    searchField='nombre'
    placeholder='Departamento'
    allowClear=true
      as |departamento|
  }}
    {{departamento.nombre}}
  {{/power-select}}
</div>

<div class="col-lg-5 col-md-5 col-xs-5 middle">
  <label class="hidden-xs" style="font-weight: normal; margin-right: 10px;">Municipio</label>

  {{#power-select
    selected=currentMunicipio
    options=municipiosDisponibles
    onchange=(action 'selectMunicipio')
    searchField='nombre'
    placeholder='Municipio'
    allowClear=true
    noMatchesMessage=''
      as |municipio|
  }}
    {{municipio.nombre}}
  {{/power-select}}
</div>

<div class="col-lg-3 col-md-3 col-xs-3 right">
  <label class="hidden-xs" style="font-weight: normal; margin-right: 10px;">Año</label>
  {{#power-select
    selected=currentAnio
    options=aniosDisponibles
    onchange=(action 'selectAnio')
    placeholder='Año'
    allowClear=true
    noMatchesMessage=''
      as |anio|
  }}
    {{anio}}
  {{/power-select}}
</div>
